.demandes-container{
       padding: 20px;
       min-height: 100vh;
}

.demandes-container h1 {
    font-weight: bold;
    color: #163767;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.demandes-list {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.demande-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 4px;
}
.demande-info{
    width: 10%;
}
.demande-info p {
    margin-left: 20px;
    padding-right: 10px;
    color: #333;
    font-size: 16px;
}

.demande-status p {
    margin: 0;
    color: #666;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

.accepter {
    background-color: white;
    color: green;
    border: 2px solid green;

}
.accepter:hover {
    background-color: green;
    color: white;
}
.refuser {
    background-color: white;
    color: #f44336;
    border: 2px solid #f44336;
    margin-right: 0;

}
.refuser:hover {
    background-color: #f44336;
    color: white;
}


.voir-plus {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
